* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Rowdies', sans-serif;
}

#root {
	background-color: #7fb685;
	width: 100vw;
	height: 100vh;
}

#main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 84vh;
	overflow: scroll;
	padding-bottom: 20px;
}
